.logo {
    padding: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo img {
    width: 4em;
    height: 4em;
}

.logo span {
    font-size: 2em;
    font-weight: 600;
}

.logo span span {
    font-size: 1em;
    color: var(--primary);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em 0;
}

.sideItem {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 7px 2em;
    transition: all .15s ease-in-out;
}

.sideItem:hover {
    cursor: pointer;
}

.sideItem span {
    font-size: 1.4em;
}

.active {
    background-color: #ffb2f7;
    border-radius: 0 7px 7px 0;
    border-left: 5px var(--primary-light) solid;
    color: white;
    padding-left: 3em;
}

.signoutbtn {
    padding: 2em;
}

@media (max-width:1200px) {
    .heading {
        display: none;
        padding-left: 0;
    }

    .logo {
        display: none;
    }
}

@media (max-width:950px) {
    .sidebar {
        display: none;
    }
}