.mainsection {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    width: 100%;
}

@media (max-width:1200px) {
    .mainsection {
        max-width: 50%;
    }
}

@media (max-width:950px) {
    .mainsection {
        max-width: 100%;
    }
}