.cards {
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.parentcomponent {
    width: 100%;
}

@media (max-width:1200px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}