.app {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.dashboard {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 3px 3px 12px rgb(200, 199, 199);
  padding: 2em 0em;
}

@media (max-width:950px) {
  .dashboard {
    flex-direction: column;
  }
}