:root {
  --primary: #4F46E5;
  /* Deep Indigo (Buttons, highlights) */
  --primary-light: #6366F1;
  /* Soft Indigo (Hover, gradients) */

  --accent: #06B6D4;
  /* Cyan accent (Graphs, cards) */
  --accent-light: #22D3EE;
  /* Light cyan (subtle UI touches) */

  --success: #22C55E;
  /* Green (Success, positive values) */
  --warning: #FACC15;
  /* Soft yellow (Warnings) */
  --danger: #EF4444;
  /* Clean red (Errors) */

  --dark: #0F172A;
  /* Dashboard background / dark mode */
  --light: #F1F5F9;
  /* Light background / cards */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}