.rightsidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}

.rightsidebar h3 {
    color: #555F;
}

.updatesection {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
}

.customersection {
    width: 100%;
    gap: 1em;
}

@media (max-width:950px) {
    .rightsidebar {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width:700px) {
    .rightsidebar {
        flex-direction: column;
    }
}