.main {
    position: relative;
}

/* ---------------- Compact Card ---------------- */

.compactCard {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    transition: all .25s ease;
    gap: 1em;
}

.compactCard:hover {
    transform: translateY(-3px);
}

/* Radial Progress */
.radialBar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.CircularProgressbar {
    width: 70px !important;
    border-radius: 50px;
}

.CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 10px !important;
    filter: drop-shadow(0px 0px 6px #ffffffdc);
}

.CircularProgressbar-trail {
    stroke: rgba(255, 255, 255, .2) !important;
}

.CircularProgressbar-text {
    fill: white !important;
}

/* Details */
.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .8em;
}

.detail .value {
    font-size: 1.3rem;
    font-weight: 600;
}

/* ---------------- Expanded Card ---------------- */

.expandedCard {
    width: 500px;
    height: 450px;
    border-radius: 20px;
    padding: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: auto;
    position: absolute;
    z-index: 99;
}

.closeBtn {
    align-self: flex-end;
    cursor: pointer;
    transition: .2s;
}

.closeBtn:hover {
    transform: scale(1.2);
}

.expandedTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.chartContainer {
    width: 100%;
    height: auto;
}

.expandedFooter {
    text-align: center;
    opacity: .8;
}

@media (max-width:700px) {
    .expandedCard {
        width: 240px;
        height: 440px;
    }
}