.update {
    background-color: white;
    border-radius: 12px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1em;
}

.reviewCard {
    display: flex;
    gap: 1em;
    align-items: center;
}

.reviewCard img {
    width: 50px;
    height: 50px;
}

.reviewCard .information {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.reviewCard span {
    color: gray;
}

.reviewCard p {
    color: #555;
}

.reviewCard p h3 {
    display: inline-block;
}